.product {
    padding: 10px;
}

.hidden {
    display: none !important;
}

img {
    max-width: 100%;
    height: 220px;
}

table {
    margin-top: 40px;
    text-align: center;
    width: inherit;
}

table+div>p {
    font-size: 1.25em;
}

h2 {
    text-align: center;
}

h2+p {
    text-align: center;
}

.product-name {
    font-size: 1.15em;
}

#toast-container {
    top: 200px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar h2 {
    font-weight: 400;    
}

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: black;
}

#mainNavbar .navbar-brand {
    color: black;
    font-size: 1.5rem;
}

.nav-item.active {
    font-weight: 400;
    text-decoration: underline;
}

.navbar.scrolled {
    background: #007bff;
    transition: background 500ms;
}

#sign-in-form {
    max-width: 400px;
}

#register-form {
    max-width: 600px;
}

#register-form-link:hover {
    text-decoration: underline;
    cursor: pointer;
}