.product {
    padding: 10px;
}

img {
    max-width: 100%;
    height: 220px;
}

table {
    margin-top: 40px;
    text-align: center;
    width: inherit;
}

table+div>p {
    font-size: 1.25em;
}

h2 {
    text-align: center;
}

h2+p {
    text-align: center;
}

.product-name {
    font-size: 1.15em;
}