<section id="home-header-top" class="d-flex justify-content-center align-items-center">
<!--
    <div id="overlay"></div>
    <div id="header" class="container text-white text-center">
        <h3 class="display-5 mb-0">MODERN SAILING</h3>
        <h1 class="display-1">SAIL IN</h1>
        <p class="lead d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, hic?</p>
        <button id="book" class="btn btn-lg btn-primary px-5" data-toggle="modal" data-target="#bookingModal">BOOK NOW</button>
    </div>
-->
</section>

<section>
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p> -->
                <div class="jumbotron">
                    <h2 id="welcome">Welcome to MyBay, dear Custommer!</h2>
                    <p>It is a place where you will find all you can Bay or Sail!</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/.col-xs-12.col-sm-9-->
    </div>
</section>